@model ProductViewModel
@{
    var OnePageLess = Model.CurrentPage - 1;
    var OnePageMore = Model.CurrentPage + 1;
}

<table class="table table-bordered table-striped table-condensed table-hover">
    <thead>
        <tr>

            <th>
                @Constants.ProductName
            </th>
            <th>
                @Constants.UnitPrice
            </th>
            <th>
                @Constants.Category
            </th>
            <th>
                @Constants.Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Data)
        {
            <tr>

                <td>
                    @product.ProductName
                </td>
                <td>
                    @product.UnitPrice
                </td>
                <td>
                    @product.CategoryName
                </td>
                @*<td>
                            Esto es un acceso mediante Lazy Loading
                        @product.Category.CategoryName
                    </td>*@
                <td>
                    @*el segundo parametro es el nombre del metodo que esta en el controller*@
                    @Html.ActionLink(Constants.Edit, "Edit", new { productId = product.ProductID })
                    |
                    <a href="#" onclick="ShowDeletePopUP(@product.ProductID)" id="btnRemove" class="text-info">@Constants.Delete</a>
                </td>
            </tr>
        }
    </tbody>

    <tfoot>
    </tfoot>

</table>

@*Creamos el modal para eliminar*@
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert alert-danger">
                <button type="button" class="close" id="hidden-cancel"
                        data-dismiss="modal" aria-label="Close"
                        <span aria-hidden="true">&times;</span> >
                </button>
                <h4 class="modal-title">Confirmar</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="hdnProductId"/>
                <p class="success-message">¿Está seguro que desea eliminar este registro?</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">
                    @Constants.Cancel
                </button>
                <button onclick="ConfirmDelete()" class="btn btn-success delete-confirm">
                    Aceptar
                </button>
            </div>
        </div>
    </div>
</div>

@if (Model.TotalData > 0)
{
    <span>
        <strong>@Model.TotalData</strong> @Constants.RecordsFound
    </span>
    <span>&nbsp;| &nbsp;</span>
}
else
{
    <span>
        @Constants.NoResults
    </span>
    <span>&nbsp;| &nbsp;</span>
}

@if (Model.CurrentPage > 1)
{
    <a class="btn btn-sm btn-default" href="#" onclick="ChangedPage(1)"><<</a>
    <a class="btn btn-sm btn-default" href="#" onclick="ChangedPage(@OnePageLess)">@Constants.Previous</a>
}

else
{
    <a class="btn btn-sm btn-default disabled" href="#" onclick="ChangedPage(1)"><<</a>
    <a class="btn btn-sm btn-default disabled" href="#" onclick="ChangedPage(@OnePageLess)">@Constants.Previous</a>
}

@if (Model.CurrentPage < Model.NumberOfPage)
{

    <a class="btn btn-sm btn-default" href="#" onclick="ChangedPage(@OnePageMore)">@Constants.Next</a>
    <a class="btn btn-sm btn-default" href="#" onclick="ChangedPage(@Model.NumberOfPage)">>></a>
}

else
{
    <a class="btn btn-sm btn-default disabled" href="#" onclick="ChangedPage(@OnePageMore)">@Constants.Next</a>
    <a class="btn btn-sm btn-default disabled" href="#" onclick="ChangedPage(1)">>></a>
}

@if (Model.TotalData > 0)
{
    <span>&nbsp;| &nbsp;</span>
    <span>
        Pagina <strong>@Model.CurrentPage</strong> de <strong>@Model.NumberOfPage</strong>
    </span>

}


<script>
    function ChangedPage(numberPage) {
        $.ajax({
            url: '@Url.Action("ajax_ChangePage")',
            type: 'POST',
            data: {
                "page": numberPage,
                "productNameSearch": $('#txtProductName').val()
            },

            success: function (data) {
                $("#gridContainer").html(data);
            }
        });
    }
    function ShowDeletePopUP(productId) {
        $('#hdnProductId').val(productId);
        $('#myModal').modal('show');
    }
    function ConfirmDelete() {
        var id = $('#hdnProductId').val();
        $('#myModal').hide();
        //quitamos la transparencia
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();

        //creamos la accion del ajax
        //una vez creada creamos el evento en el controler
        $.ajax({
            url: '@Url.Action("ajax_Delete")',
            type: 'POST',
            data: {
                "ProductId": id
            },
            success: function (data) {
                $("#gridContainer").html(data);
                $('#alertSuccess').show('fade');
                setTimeout(function(){
                    $('#alertSuccess').hide('fade');
                }, 2000);
            },
            error: function () {
                $('#alertFail').show('fade');
                setTimeout(function () {
                    $('#alertFail').hide('fade');
                }, 2000);
            }
        });
    }
</script>